*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

html{
    background-image: url(../img/eventy1.jpg);
}

h1{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

p{
    font-size: .8em;
}

a{
    text-decoration: none;
    color: #75501c;
}

ul{
    list-style: none;
}




.preloader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    background-color: hsl(129, 21%, 88%);
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

.show-preloader{
    visibility: visible;
    opacity: 1;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #75501c;
    animation: preloader-animation 3.25s 0s cubic-bezier(0.63, 0.12, 0.24, 0.94) infinite normal;
}

@keyframes preloader-animation {
    
    0%{
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
    
    25%{
        width: 200px;
        height: 80px;
        border-radius: 0 0 80px 0;
    }

    50%{
        width: 80px;
        height: 120px;
        border-radius: 75px 75px 0 0;
    }

    75%{
        width: 200px;
        height: 80px;
        border-radius: 80px 0 0 0;
    }

    100%{
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
}




header{
    display: flex;
    justify-content: space-between;
}

header a{
    z-index: 99;
}

.title{
    position: absolute;
    text-align: center;
    padding: 35px 0;
    width: 100vw;
    height: 130px;
}

.title h1{
    color: #75501c;
}

.header_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(130, 12%, 80%, 0.707);
    height: max-content;
    padding: 0 50px 0 50px;
    border-radius: 0 0 200px 0;
    width: 70vw;
}

.header_right{
    z-index: 99;
}

.header_right a{
    font-size: 35px;
}

header ul{
    list-style: none;
    height: 350px;
    width: 200px;
    background-color: hsla(130, 12%, 80%, 0.707);
    border-radius: 0 0 0 200px;
    padding: 50px 50px 50px 50px;
    float: right;
}

header ul li{
    text-align: right;
    margin-bottom: 30px;
    font-style: italic;
}


/* ------------------------------------------------------------ */


.main_section{
    min-height: fit-content;
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 150px 0 0 0;
}

.content{
    width: 80vw;
    height: 500px;
    display: flex;
    border-bottom: 5px solid hsl(129, 21%, 88%);
    border-right: 5px solid hsl(129, 21%, 88%);
    border-radius: 0 0 150px 0;
    background-color: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(5px);
    margin-bottom: 200px;
}

.content_photo_img{
    width: 350px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_photo{
    width: 30vw;
    height: 500px;
    padding: 20px;
}

.content_description{
    width: 50vw;
    height: 500px;
    padding: 20px;
}


/* ----------------------------------------------------------------- */



footer{
    height: fit-content;
    background-color: #e9dccf;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer img{
    height: 30%;
}

.google_maps{
    width: 40vw;
}

.google_maps_content iframe{
    box-shadow: 20px 20px 0 #366c5f;
}

.info{
    width: 40vw;
}

.logo_small{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.info_1{
    width: 400px;
    height: 150px;
    background-color: #8fc0ad;
    padding: 20px;
    font-size: .8em;
    border-radius: 0 150px 0 0;
    margin-bottom: 40px;
    float: right;
}

.info_1 p{
    text-align: left;
}

.info_2{
    width: 400px;
    height: 150px;
    background-color: #8fc0ad;
    padding: 20px;
    font-size: .8em;
    text-align: right;
    border-radius: 0 0 0 150px;
    float: right;
}

.info_2 p{
    text-align: right;
}





/* ----------------------------RESPONSIVE MOBILE--------------------- */




@media screen and (max-width: 767px){
    
    p{
        font-size: .6em;
    }
    
    h1{
        font-size: 1em;
    }
    
    .menu a{
        font-size: 25px;
    }

    header ul{
        height: 235px;
        width: 140px;
        padding: 20px 25px 50px 0;
    }

    header ul li{
        margin-bottom: 15px;
    }

    .header_left{
        padding: 0 25px;
        border-radius: 0 0 50px 0;
    }

    header a{
        height: 70px;
        width: 70px;
    }

    header img{
        height: 70px;
        width: 70px;
    }

    .title{
        padding: 15px 0;
    }



    /* ----------------------------------------------------- */



    .content{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }

    .content_description{
        height: auto;
        text-align: center;
    }

    .content_photo{
        width: auto;
    }


    /* ------------------------------------------------------- */


    footer{
        flex-direction: column;
        padding: 20px;
        justify-content: normal;
        align-items: center;
    }

    .google_maps{
        width: auto;
        margin: 20px 20px;
    }

    footer iframe{
        width: 100%;
        height: 100%;
    }

    .logo_small{
        justify-content: center;
        width: auto;
        padding: 100px 0;
    }

    .info{
        width: auto;
    }

    .info_1{
        width: 350px;
    }

    .info_2{
        width: 350px;
    }


    /* -------------------------------------------------- */

    .main_section{
        margin: 0;
    }

    .content_description{
        width: auto;
    }

    .content_photo{
        width: 270px;
        height: 410px;
        padding: 0;
    }
    
    .content_photo_img{
        width: 270px;
        height: 310px;
    }
}



/* ------------------RESPONSIVE TABLETS-------------------- */



@media screen and (min-width: 768px) and (max-width: 1224px){
    .content{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }

    .content_description{
        height: auto;
        text-align: center;
    }

    .content_photo{
        width: auto;
    }


    /* ------------------------------------------------------- */


    footer{
        flex-direction: column;
        padding: 20px;
        justify-content: normal;
        align-items: center;
    }

    .google_maps{
        width: auto;
        margin: 20px 20px;
    }

    footer iframe{
        width: 100%;
        height: 100%;
    }

    .logo_small{
        justify-content: center;
        width: auto;
        padding: 100px 0;
    }

    .info{
        width: auto;
    }

    .info_1{
        width: 350px;
    }

    .info_2{
        width: 350px;
    }
}