@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Merriweather', serif;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

html{
    background-image: var(--events_bg);
}

h1{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

p{
    font-size: .8em;
}

a{
    text-decoration: none;
    color: var(--font);
}

ul{
    list-style: none;
}



/* ------------------------------------------------------------ */


.main_section{
    min-height: fit-content;
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 150px 0 0 0;
}

.content{
    width: 80vw;
    height: 500px;
    display: flex;
    border-bottom: 5px solid var(--header);
    border-right: 5px solid var(--header);
    border-radius: 0 0 150px 0;
    background-color: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(5px);
    margin-bottom: 200px;
}

.content_photo_img{
    width: 350px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_photo{
    width: 30vw;
    height: 500px;
    padding: 20px;
}

.content_description{
    width: 50vw;
    height: 500px;
    padding: 20px;
}



/* ----------------------------RESPONSIVE MOBILE--------------------- */




@media screen and (max-width: 767px){
    
    p{
        font-size: .6em;
    }


    /* ----------------------------------------------------- */



    .content{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }

    .content_description{
        height: auto;
        text-align: center;
    }

    .content_photo{
        width: auto;
    }


    /* -------------------------------------------------- */

    .main_section{
        margin: 0;
    }

    .content_description{
        width: auto;
    }

    .content_photo{
        width: 270px;
        height: 410px;
        padding: 0;
    }
    
    .content_photo_img{
        width: 270px;
        height: 310px;
    }
}



/* ------------------RESPONSIVE TABLETS-------------------- */



@media screen and (min-width: 768px) and (max-width: 1224px){
    .content{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }

    .content_description{
        height: auto;
        text-align: center;
    }

    .content_photo{
        width: auto;
    }
}