@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Merriweather', serif;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

h1{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

p{
    font-size: .8em;
}

a{
    text-decoration: none;
    color: #75501c;
}

ul{
    list-style: none;
}

/* ---------------------------------------------- */


.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
}

.content_photos{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section img{
    /* width: 25vw; */
    width: 400px;
    margin: 10px;
}

.horizontal{
    width: 54.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal img{
    /* width: 60vw; */
    width: 820px;
    margin: 10px;
}



/* -------------------------------------- */


@media screen and (max-width: 776px){

    section img{
        width: 340px;
        margin: 10px 20px;
    }

    .horizontal{
        width: 340px;
    }
    
    .horizontal img{
        width: 340px;
    }

}