@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Merriweather', serif;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

h1{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

p{
    font-size: .8em;
}

a{
    text-decoration: none;
    color: var(--font);
}

ul{
    list-style: none;
}

/* --------------------------------------------------------- */


.description{
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_static{
    text-align: center;
    width: 50%;
}

.description_static p{
    font-size: 1em;
}



/* --------------------------------------------------------- */



section{
    width: 100vw;
    height: min-content;
}

.gear{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 180px 0;
    background-image: url(../img/gear1.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
}

section div{
    width: 600px;
    height: 600px;
    background-color: var(--header_main);
    margin: 30px;
    border: 5px solid var(--google_map);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.74);
    padding: 20px;
    backdrop-filter: blur(8px);
}

.first{
    border-radius: 0 0 200px 0;
}

.second{
    border-radius: 200px 0 0 0;
}

.third{
    border-radius: 0 0 0 200px;
}

.fourth{
    border-radius: 0 200px 0 0;
}

.gear li{
    font-size: .8em;
    margin-bottom: 10px;
}

.second, .third ul{
    text-align: right;
}

.second a{
    font-size: .8em;
}





/* ----------------------------RESPONSIVE MOBILE--------------------- */




@media screen and (max-width: 767px){
    

    .description_static{
        width: 70%;
        margin-top: 50px;
    }

    .gear{
        margin: 100px 0;
    }

    section div{
        padding: 14px;
    }
}
