body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: animacja;
    animation-duration: 2s;
}

@keyframes animacja {
    0%{
        border-radius: 0 0 0 0;
    }

    50%{
        border-radius: 100px;
    }

    100%{
        border-radius: 0 0 50px 0;
    }
}