footer{
    height: fit-content;
    background-color: #e9dccf;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer img{
    height: 30%;
}

.google_maps{
    width: 40vw;
}

.google_maps_content iframe{
    box-shadow: 20px 20px 0 #366c5f;
}

.info{
    width: 40vw;
}

.logo_small{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.info_1{
    width: 400px;
    height: 150px;
    background-color: #8fc0ad;
    padding: 20px;
    font-size: .8em;
    border-radius: 0 150px 0 0;
    margin-bottom: 40px;
    float: right;
}

.info_1 p{
    text-align: left;
}

.info_2{
    width: 400px;
    height: 150px;
    background-color: #8fc0ad;
    padding: 20px;
    font-size: .8em;
    text-align: right;
    border-radius: 0 0 0 150px;
    float: right;
}

.info_2 p{
    text-align: right;
}