footer{
    height: fit-content;
    background-color: var(--icon_footer);
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer img{
    height: 30%;
}

.google_maps{
    width: 40vw;
}

.google_maps_content iframe{
    box-shadow: 20px 20px 0 var(--google_map);
}

.info{
    width: 40vw;
}

.logo_small{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.info_1{
    width: 400px;
    height: 150px;
    background-color: var(--addons);
    padding: 20px;
    font-size: .8em;
    border-radius: 0 150px 0 0;
    margin-bottom: 40px;
    float: right;
}

.info_1 p{
    text-align: left;
}

.info_2{
    width: 400px;
    height: 150px;
    background-color: var(--addons);
    padding: 20px;
    font-size: .8em;
    text-align: right;
    border-radius: 0 0 0 150px;
    float: right;
}

.info_2 p{
    text-align: right;
}

@media screen and (max-width: 767px) {
    

    footer{
        flex-direction: column;
        padding: 20px;
        justify-content: normal;
        align-items: center;
    }

    .google_maps{
        width: auto;
        margin: 20px 20px;
    }

    footer iframe{
        width: 100%;
        height: 100%;
    }

    .logo_small{
        justify-content: center;
        width: auto;
        padding: 100px 0;
    }

    .info{
        width: auto;
    }

    .info_1{
        width: 350px;
    }

    .info_2{
        width: 350px;
    }

    .info_1 p, .info_2 p{
        font-size: .6em;
    }
}



/* ------------------RESPONSIVE TABLETS-------------------- */



@media screen and (min-width: 768px) and (max-width: 1070px) {
    

    footer{
        flex-direction: column;
        padding: 20px;
        justify-content: normal;
        align-items: center;
    }

    .google_maps{
        width: auto;
        margin: 20px 20px;
    }

    footer iframe{
        width: 100%;
        height: 100%;
    }

    .logo_small{
        justify-content: center;
        width: auto;
        padding: 100px 0;
    }

    .info{
        width: auto;
    }

    .info_1{
        width: 350px;
    }

    .info_2{
        width: 350px;
    }
}