*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

h1{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

p{
    font-size: .8em;
}

a{
    text-decoration: none;
    color: #75501c;
}

ion-icon{
    position: relative;
    font-size: 30px;
    color: #dac2a8;
    top: 80vh;
}

.preloader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

header{
    height: 110vh;
    width: 100vw;
}

.header-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 130vh;
    width: 100vw;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -1;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;
    gap: 10px;
}

.header-main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.header-main div{
    width: 33.3vw;
}

header img{
    position: relative;
    top: 160px;
    width: 80%;
    height: fit-content;
}

.header-img{
    display: flex;
    justify-content: center;
}

.menu a{
    font-size: 35px;
}

ul{
    list-style: none;
    height: 350px;
    width: 200px;
    background-color: hsla(130, 12%, 80%, 0.707);
    border-radius: 0 0 0 200px;
    padding: 50px 50px 50px 50px;
    float: right;
}

ul li{
    text-align: right;
    margin-bottom: 30px;
    font-style: italic;
}

/* -------------------------------------------------------------- */

section{
    margin-top: 60px;
    width: 100vw;
    height: max-content;
    display: flex;
    background-color: white;
}

.description{
    width: 50vw;
    padding: 50px;
}

.description h1{
    margin: 130px 30px 0 70px;
}

.description p{
    position: relative;
    font-size: .8em;
    text-align: left;
    margin: 0 30px 0 70px;
    z-index: 99;
}

.circle{
    position: relative;
    top: -60px;
    left: 10px;
    height: 120px;
    width: 120px;
    background-color: #8fc0ad;
    border-radius: 100px;
}


.photos{
    width: 50vw;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photos img{
    width: 40vw;
}


/* -------------------------------------------------------------- */


footer{
    height: fit-content;
    background-color: #e9dccf;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer img{
    height: 30%;
}

.google_maps{
    width: 40vw;
}

.google_maps_content iframe{
    box-shadow: 20px 20px 0 #366c5f;
}

.info{
    width: 40vw;
}

.logo_small{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.info_1{
    width: 400px;
    height: 150px;
    background-color: #8fc0ad;
    padding: 20px;
    font-size: .8em;
    border-radius: 0 150px 0 0;
    margin-bottom: 40px;
    float: right;
}

.info_1 p{
    text-align: left;
}

.info_2{
    width: 400px;
    height: 150px;
    background-color: #8fc0ad;
    padding: 20px;
    font-size: .8em;
    text-align: right;
    border-radius: 0 0 0 150px;
    float: right;
}

.info_2 p{
    text-align: right;
}

/* ------------------------------------------------------------ */

.price_and_contact{
    padding: 0;
    height: auto;
}

.price{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price h2{
    margin-bottom: 40px;
}

.price p{
    font-size: 1em;
    margin-bottom: 20px;
}

.zl{
    font-weight: bold;
    font-size: 1em;
}

.span_price{
    font-size: .8em;
    font-weight: lighter;
}

.contact{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 0 0;
}

.title{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact form input{
    border: 0;
    border-bottom: 3px solid #8fc0ad;
    width: 500px;
    margin-bottom: 20px;
    background-color: #fff;
    font-style: italic;
    padding: 10px 0;
}

.contact form textarea{
    border: 0;
    border-bottom: 3px solid #8fc0ad;
    width: 500px;
    height: 50px;
    background-color: #fff;
    font-style: italic;
    padding: 5px 0;
    resize: vertical;
}


/* ------------------------------------------------------------ */


.team{
    display: block;
    height: fit-content;
    margin-top: 150px;
}

.team h2, p{
    text-align: center;
    margin: 0 0 50px 0;
}

.team_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 0 50px 0;
}

.team_person{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.team_person_img{
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 10px -10px 0 #dac2a8;
}

.team_person_description{
    height: 200px;
    padding: 20px 0;
    text-align: center;
}



/* ------------------RESPONSIVE CELL PHONES-------------------- */



@media screen and (max-width: 767px) {
    

    body{
        width: 100vw;
    }

    section{
        flex-direction: column;
    }


    .header-background{
        height: 110vh;
    }

    .menu a{
        font-size: 25px;
    }

    header ul{
        height: 235px;
        width: 140px;
        padding: 20px 25px 50px 0;
    }

    header ul li{
        margin-bottom: 15px;
    }

    .header-img{
        margin: auto;
    }

    header img{
        top: 0;
        width: 200%;
    }



    /* ------------------------------------------- */



    .description{
        width: 100vw;
        padding: 0;
    }

    .description h1{
        margin: 60px 30px 0 70px;
    }

    .description p{
        font-size: .7em;
    }

    .photos{
        width: 100vw;
        padding: 20px;
    }

    .photos img{
        width: 90vw;
    }



    /* ---------------------------------------------- */



    .price_and_contact{
        padding-top: 50px;
    }

    .price{
        width: 100vw;
        padding: 0 20px;
    }

    .price p{
        font-size: .7em;
    }

    .contact{
        width: 100vw;
        padding: 80px 0 0 0;
    }

    .contact form{
        align-items: center;
    }

    .contact form input{
        width: 300px;
        font-size: .8em;
    }

    .contact form textarea{
        width: 300px;
        height: 50px;
        font-size: .8em;
    }


    /* ------------------------------------------------------ */


    .team{
        padding: 0 20px;
    }

    .team p{
        font-size: .7em;
    }

    .team_person{
        width: 330px;
        height: 540px;
    }



    /* --------------------------------------------------------- */



    footer{
        flex-direction: column;
        padding: 20px;
        justify-content: normal;
        align-items: center;
    }

    .google_maps{
        width: auto;
        margin: 20px 20px;
    }

    footer iframe{
        width: 100%;
        height: 100%;
    }

    .logo_small{
        justify-content: center;
        width: auto;
        padding: 100px 0;
    }

    .info{
        width: auto;
    }

    .info_1{
        width: 350px;
    }

    .info_2{
        width: 350px;
    }
}



/* ------------------RESPONSIVE TABLETS-------------------- */



@media screen and (min-width: 768px) and (max-width: 1070px) {
    

    body{
        width: 100vw;
    }

    section{
        flex-direction: column;
    }


    .header-background{
        height: 110vh;
    }

    .header-img{
        margin: auto;
    }

    header img{
        top: 0;
        width: 100%;
    }



    /* ------------------------------------------- */



    .description{
        width: 100vw;
        padding: 0;
    }

    .description h1{
        margin: 60px 30px 0 70px;
    }

    .photos{
        width: 100vw;
        padding: 20px;
    }

    .photos img{
        width: 90vw;
    }



    /* ---------------------------------------------- */



    .price_and_contact{
        padding-top: 50px;
    }

    .price{
        width: 100vw;
        padding: 0 20px;
    }

    .contact{
        width: 100vw;
        padding: 80px 0 0 0;
    }

    .contact form{
        align-items: center;
    }

    .contact form input{
        width: 600px;
        font-size: 1em;
    }

    .contact form textarea{
        width: 600px;
        height: 50px;
        font-size: 1em;
    }


    /* ------------------------------------------------------ */


    .team{
        padding: 0 20px;
    }

    .team p{
        font-size: .7em;
    }

    .team_person{
        width: 330px;
        height: 540px;
    }



    /* --------------------------------------------------------- */



    footer{
        flex-direction: column;
        padding: 20px;
        justify-content: normal;
        align-items: center;
    }

    .google_maps{
        width: auto;
        margin: 20px 20px;
    }

    footer iframe{
        width: 100%;
        height: 100%;
    }

    .logo_small{
        justify-content: center;
        width: auto;
        padding: 100px 0;
    }

    .info{
        width: auto;
    }

    .info_1{
        width: 350px;
    }

    .info_2{
        width: 350px;
    }
}