/* MAIN COLORS */
:root{
    --font: #75501c;
    --icon_footer: #e9dccf;
    --header: #D7E0D8;
    --header_main: hsla(130, 12%, 80%, 0.707);
    --google_map: #366c5f;
    --addons: #8fc0ad;
    --events_bg: url(../img/eventy1.jpg);
}

/* CHRISTMAS */

/* :root{
    --font: #75501c;
    --icon_footer: #e9dccf;
    --header: #D7E0D8;
    --header_main: hsla(130, 12%, 80%, 0.707);
    --google_map: #366c5f;
    --addons: #8fc0ad;
    --events_bg: url(../img/eventy1.jpg);
}

/* VALENTINES */

/* :root{
    --font: #75501c;
    --icon_footer: #e9dccf;
    --header: #D7E0D8;
    --header_main: hsla(130, 12%, 80%, 0.707);
    --google_map: #366c5f;
    --addons: ##FFAEC9;
    --events_bg: url(../img/eventy2.jpg);
} */